.breadcrumbs {
  display: block;
  white-space: nowrap;
  padding: 0;
  margin: auto 1.5em;
  list-style: none;
  color: rgba(0, 0, 0, 0.4);

  @include media(max-width $breakpoint-tablet - 1) {
    width: 100%;
    margin-bottom: 1em;
    overflow: hidden;
  }

  &__breadcrumb {
    display: inline-block;
    font-size: 19px;
    vertical-align: middle;
    max-width: 30vw;
    text-overflow: ellipsis;
    overflow: hidden;
    @include media(max-width $breakpoint-tablet - 1) {
      max-width: 100%;
    }

    &:not(:last-child) {
      &:after {
        content: '\E5CC';
        color: rgba(0, 0, 0, 0.4);
        vertical-align: middle;
        display: inline-block;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        margin: 0 10px 0 8px;
        -webkit-font-smoothing: antialiased;
      }
    }

    &__text {
      width: 100%;
      vertical-align: middle;
      text-decoration: none;
      color: inherit;

      &--current {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }


}
