<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/popup.css">

</head>

<body>
    <div class="container">
      <input type="text" class="form-control" placeholder="Item name:">
      Check interval:
        <select class="form-control timer">
            <option>5 minutes</option>
            <option>10 minutes</option>
            <option>30 minutes</option>
            <option>1 hour</option>
            <option>6 hours</option>
        </select>
        <input class="btn btn-default" type="submit" value="Create Item">
    </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/popup.js"></script>
</body>

</html>
