<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DASHBOARDIFY</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/popup.css">

</head>

<body>
  <form class="form-horizontal" id="create-item-form">
    <div class="container create-item">
      <input type="text" class="form-control item-name" id="item-name" placeholder="Item name:">
      <input class="form-control" id="website" type="text" placeholder="Website" disabled>
      <input class="form-control" id="xpath" type="text" placeholder="XPath" disabled>
      <input class="form-control" id="css" type="text" placeholder="CSS" disabled>
      Check interval:
        <select class="form-control" id="timer">
            <option value="300000">5 minutes</option>
            <option value="600000">10 minutes</option>
            <option value="1800000">30 minutes</option>
            <option value="3600000">1 hour</option>
            <option value="21600000">6 hours</option>
        </select>
        Dashboard:
        <select class="form-control" id="dashboard-selector">
            <option value="1">AUDINES</option>
        </select>
        <input class="btn btn-default" type="submit" value="Create Item">
    </div>
    </form>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/createItem.js"></script>
</body>

</html>
