<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/popup.css">

</head>

<body>
  <div class="popup">
    <button type="button" id="login-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored popup-button">Sign in</button>
    <button type="button" id="register-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored popup-button">Registration</button>
  </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="/node_modules/material-design-lite/material.min.js"></script>
    <script src="/login.js"></script>

</body>

</html>
