<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboardify</title>
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css" />
    <link rel="stylesheet" href="/popup.css">

</head>

<body>
    </header>
    <button id="select-area-toggle" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored popup-button" type="button">Select element</button>
    <button id="home-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored popup-button" type="button">Home</button>
    </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="/node_modules/material-design-lite/material.min.js"></script>
    <script src="/popup.js"></script>
</body>

</html>
