.popup{
  text-align: center;
  width: 15em;
}

.popup-button{
  margin-top: 3px;
  margin-bottom: 5px;
  width: 12em;
}

.popup-button-logged{
  margin-top: 3px;
  margin-bottom: 5px;
  width: 14em;
}

.create-item-div{
  margin-top: 0px;
  margin-left: 35%;
}

.form-items{
  width: 25em;
  margin-bottom: 6px;
}

.form-buttons{
  width: 15em;
  margin-left: 5em;
}

.mdl-button--raised.mdl-button--colored {
  color: #fff;
}

.tekstas{
  color: rgb(255,255,255);
  font-size: 24px;
}

.side-menu{
  font-size: 20px;
}
