body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #EEEEEE;
}

.flex-container {
  display: flex;
  min-height: calc(100vh - 64px);
  align-items: center;
}

.text-center {
  text-align: center;
}
