//Breakpoints
$breakpoint-mobile-small: 320px; //iPhone 4
$breakpoint-mobile-medium: 375px; //iPhone 6
$breakpoint-mobile-large: 425px; //Nexus 6P

$breakpoint-tablet: 768px; //iPad

$breakpoint-laptop: 1024px; //Laptop / iPad landscape
$breakpoint-laptop-large:1440px;
